* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* Variables */
:root {
  --primary-color: #ff900e;
  --gray-text: #727272;
  --dark-text: #131313;
}

/* Shared styles */

/* Title */
.primary-title {
  font-size: 2.1rem;
  color: var(--dark-text);
  font-weight: 700;
}

/* button related styles */
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0.8rem 1rem;
  font-weight: 600;
  border-radius: 10px;
}

/* shared styles ends */

/* Navigation related styles */
header {
  background: rgba(255, 144, 14, 0.1);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
}

ul {
  display: flex;
  gap: 3rem;
}

ul > li {
  list-style-type: none;
}

.nav-item {
  text-decoration: none;
  color: var(--dark-text);
  font-weight: 600;
}

/* banner related styles */
.banner-container {
  text-align: center;
}

.banner-content {
  width: 51%;
  margin: 2rem auto;
}

.banner-title {
  font-size: 4rem;
  color: var(--dark-text);
  font-weight: 800;
}

.banner-desc {
  color: var(--gray-text);
  margin: 2rem 0;
}

.banner-img {
  width: 80%;
  padding-bottom: 1rem;
}

/* Banner ends */

/* Team section related styles */
.team-section-container {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-right: 3rem;
}

.team-img {
  width: 250px;
}

.gray-color {
  color: var(--gray-text);
  font-weight: 400;
}

.orange-color {
  color: var(--primary-color);
}

.team-desc {
  margin: 1.5rem 0;
  color: var(--gray-text);
  font-size: 0.8rem;
}

/* feature ralated styles */
.feature-container {
  width: 80%;
  margin: 4rem auto;
  display: flex;
  /* padding: 2rem; */
  /* justify-content: space-between; */
}

.feature-content-container {
  /* margin-right: 2rem; */
  width: 55%;
}

.feature-title {
  border-left: 5px solid var(--primary-color);
  padding-left: 1rem;
}

.feature-desc {
  margin: 1rem 0 3rem 0;
  color: var(--gray-text);
  font-size: 0.8rem;
}

.feature-img {
  width: 85%;
  margin-left: 4rem;
}

.feature-card {
  padding: 1rem;
  margin-top: 1rem;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-card > h4 {
  margin-bottom: 0.8rem;
}

.feature-card p {
  color: var(--gray-text);
  font-size: 0.8rem;
}

.ten-year-badge {
  width: 15rem;
  height: 8rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 10px;
  position: relative;
  margin-top: -5rem;
}

/* feature ralated styles ends */

/* facts section related styles */
.fact-container {
    width: 80%;
    margin: 5rem auto;
}

.fact-desc {
    color: var(--gray-text);
    width: 50%;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.fact-card {
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
}

.fact-card h3 {
    font-size: 2rem;
    color: rgb(78, 78, 78);
}

.fact-card p {
    color: var(--gray-text);
}

.fact-card-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}











/* Responsive media queries */

/* Responsive layout for mobile devices */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    gap: 1rem;
  }

  .banner-title {
    font-size: 2rem;
  }

  ul {
    gap: 2rem;
    padding: 1rem;
  }

  .banner-content {
    width: 100%;
  }

  .banner-img {
    width: 90%;
    padding: 0 1rem;
  }

  .team-section-container {
    flex-direction: column-reverse;
  }

  .team-img-container {
    grid-template-columns: 1fr;
    margin-right: 0;
    margin-top: 2rem;
  }

  .feature-container {
    flex-direction: column;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .feature-content-container {
    width: 100%;
  }
}

/* Responsive layout for tablet and medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  .banner-title {
    font-size: 3.5rem;
  }

  .banner-content {
    width: 100%;
  }

  .team-section-container {
    width: 100%;
  }

  nav {
    flex-direction: column;
    gap: 1rem;
  }

  .feature-container {
    flex-direction: column;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .feature-content-container {
    width: 100%;
  }
}
