* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Variables */
:root {
    --primary-color: #FF900E;
    --gray-text: #727272;
    --dark-text: #131313;
}

/* Shared styles */

/* Title */
.primary-title {
    font-size: 2.1rem;
    color: var(--dark-text);
    font-weight: 700;
}

/* button related styles */
.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 0.8rem 1rem;
    font-weight: 600;
    border-radius: 10px;
}




/* shared styles ends */

/* Navigation related styles */
header {
    background: rgba(255, 144, 14, 0.10);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
}

ul {
    display: flex;
    gap: 3rem;
}

ul > li {
    list-style-type: none;
}

.nav-item {
    text-decoration: none;
    color: var(--dark-text);
    font-weight: 600;
}

/* banner related styles */
.banner-container {
    text-align: center;
}

.banner-content {
    width: 51%;
    margin: 2rem auto;
}

.banner-title {
    font-size: 4rem;
    color: var(--dark-text);
    font-weight: 800;
}

.banner-desc {
    color: var(--gray-text);
    margin: 2rem 0;
}

.banner-img {
    width: 80%;
    padding-bottom: 1rem ;
}

/* Banner ends */


/* Team section related styles */
.team-section-container {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-right: 3rem;
}

.team-img {
    width: 250px;
}

.team-title {

}

.gray-color {
    color: var(--gray-text);
    font-weight: 400;
}

.orange-color {
    color: var(--primary-color);
}

.team-desc {
    margin: 1.5rem 0;
    color: var(--gray-text);
    font-size: 0.8rem;
}





/* Responsive media queries */

/* Responsive layout for mobile devices */
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
        gap: 1rem;
    }

    .banner-title {
        font-size: 2rem;
    }

    ul {
        gap: 2rem;
        padding: 1rem;
    }

    .banner-content {
        width: 100%;
    }

    .banner-img {
        width: 90%;
        padding: 0 1rem;
    }

}

/* Responsive layout for tablet and medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    .banner-title {
        font-size: 3.5rem;
    }

    .banner-content {
        width: 100%;
    }
}